<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaocydx.cxrv">

    <application>
        <activity
            android:name="com.xiaocydx.cxrv.paging.TestActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>
</manifest>