<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaocydx.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CXRV">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".itemclick.ItemClickActivity"
            android:exported="false" />
        <activity
            android:name=".itemtouch.ItemTouchActivity"
            android:exported="false" />
        <activity
            android:name=".itemselect.ItemSelectActivity"
            android:exported="false" />
        <activity
            android:name=".multitype.MultiTypeActivity"
            android:exported="false" />
        <activity
            android:name=".payload.PayloadActivity"
            android:exported="false" />
        <activity
            android:name=".concat.HeaderFooterActivity"
            android:exported="false" />
        <activity
            android:name=".liststate.ListStateActivity"
            android:exported="false" />
        <activity
            android:name=".paging.article.ArticleListActivity"
            android:exported="false" />
        <activity
            android:name=".paging.local.PagingActivity"
            android:exported="false" />
        <activity
            android:name=".paging.complex.ComplexContainerActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.nested.NestedScrollableActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.shared.SharedPoolActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.loop.LoopPagerActivity"
            android:exported="false" />
        <activity
            android:name=".transition.enter.EnterTransitionActivity"
            android:exported="false" />
        <activity
            android:name=".divider.DividerActivity"
            android:exported="false" />
    </application>
</manifest>